parameters:
    polluteScopeWithLoopInitialAssignments: false
    checkAlwaysTrueCheckTypeFunctionCall: true
    checkAlwaysTrueInstanceof: true
    checkAlwaysTrueStrictComparison: true
    checkFunctionNameCase: true

    level: max
    inferPrivatePropertyTypeFromConstructor: true

rules:
    - PHPStan\Rules\BooleansInConditions\BooleanInBooleanAndRule
    - PHPStan\Rules\BooleansInConditions\BooleanInBooleanNotRule
    - PHPStan\Rules\BooleansInConditions\BooleanInBooleanOrRule
    - PHPStan\Rules\BooleansInConditions\BooleanInElseIfConditionRule
    - PHPStan\Rules\BooleansInConditions\BooleanInIfConditionRule
    - PHPStan\Rules\BooleansInConditions\BooleanInTernaryOperatorRule
    - PHPStan\Rules\DisallowedConstructs\DisallowedEmptyRule
    - PHPStan\Rules\DisallowedConstructs\DisallowedImplicitArrayCreationRule
    - PHPStan\Rules\Functions\MissingFunctionParameterTypehintRule
    - PHPStan\Rules\Functions\MissingFunctionReturnTypehintRule
    - PHPStan\Rules\Methods\MissingMethodParameterTypehintRule
    - PHPStan\Rules\Methods\MissingMethodReturnTypehintRule
    - PHPStan\Rules\Methods\WrongCaseOfInheritedMethodRule
    - PHPStan\Rules\Operators\OperandInArithmeticPostDecrementRule
    - PHPStan\Rules\Operators\OperandInArithmeticPostIncrementRule
    - PHPStan\Rules\Operators\OperandInArithmeticPreDecrementRule
    - PHPStan\Rules\Operators\OperandInArithmeticPreIncrementRule
    - PHPStan\Rules\Operators\OperandsInArithmeticAdditionRule
    - PHPStan\Rules\Operators\OperandsInArithmeticDivisionRule
    - PHPStan\Rules\Operators\OperandsInArithmeticExponentiationRule
    - PHPStan\Rules\Operators\OperandsInArithmeticModuloRule
    - PHPStan\Rules\Operators\OperandsInArithmeticMultiplicationRule
    - PHPStan\Rules\Operators\OperandsInArithmeticSubtractionRule
    - PHPStan\Rules\StrictCalls\DynamicCallOnStaticMethodsRule
    - PHPStan\Rules\StrictCalls\StrictFunctionCallsRule
    - PHPStan\Rules\SwitchConditions\MatchingTypeInSwitchCaseConditionRule
    - PHPStan\Rules\Deprecations\AccessDeprecatedPropertyRule
    - PHPStan\Rules\Deprecations\AccessDeprecatedStaticPropertyRule
    - PHPStan\Rules\Deprecations\CallToDeprecatedFunctionRule
    - PHPStan\Rules\Deprecations\CallToDeprecatedMethodRule
    - PHPStan\Rules\Deprecations\CallToDeprecatedStaticMethodRule
    - PHPStan\Rules\Deprecations\FetchingClassConstOfDeprecatedClassRule
    - PHPStan\Rules\Deprecations\FetchingDeprecatedConstRule
    - PHPStan\Rules\Deprecations\ImplementationOfDeprecatedInterfaceRule
    - PHPStan\Rules\Deprecations\InheritanceOfDeprecatedClassRule
    - PHPStan\Rules\Deprecations\InheritanceOfDeprecatedInterfaceRule
    - PHPStan\Rules\Deprecations\InstantiationOfDeprecatedClassRule
    - PHPStan\Rules\Deprecations\TypeHintDeprecatedInClassMethodSignatureRule
    - PHPStan\Rules\Deprecations\TypeHintDeprecatedInClosureSignatureRule
    - PHPStan\Rules\Deprecations\TypeHintDeprecatedInFunctionSignatureRule
    - PHPStan\Rules\Deprecations\UsageOfDeprecatedTraitRule
    - Ergebnis\PHPStan\Rules\Expressions\NoCompactRule
    - Ergebnis\PHPStan\Rules\Expressions\NoEmptyRule
    - Ergebnis\PHPStan\Rules\Files\DeclareStrictTypesRule
    - Ergebnis\PHPStan\Rules\Expressions\NoErrorSuppressionRule

services:
    - PHPStan\Rules\BooleansInConditions\BooleanRuleHelper
    - PHPStan\Rules\Operators\OperatorRuleHelper
    - PHPStan\Rules\Deprecations\DeprecatedClassHelper
