parameters:
    level: max
    fileExtensions:
        - php
        - phpt

rules:
	- Ergebnis\PHPStan\Rules\Files\DeclareStrictTypesRule


includes:
    - ../vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - ../vendor/phpstan/phpstan-strict-rules/rules.neon
    - ../vendor/phpstan/phpstan-mockery/extension.neon
    - ../vendor/nepada/phpstan-nette-tester/extension.neon
